.gb-restaurant-menu-item-menu-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 200ms ease-in-out;
}

.gb-order-item {
    color: @gb-shadow-mako;
    overflow: auto;
}

.gb-order-item-header {
    display: none;
}

.gb-order-item-error {
    padding-top: 22px;
    color: @gb-red;
    font-style: italic;
}

.gb-order-item-add {
    overflow: hidden;
    text-align: center;
    padding: 6px 22px;
    border-radius: 3px;
    background-color: @gb-pink;
    font-weight: 600;
    border: 1px solid darken(@gb-pink, 10%);
    border-bottom: 2px solid darken(@gb-pink, 15%);
    border-top: none;
    transition: background-color 200ms;
    color: @gb-white;
    height: 34px;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
        background-color: lighten(@gb-red, 5%);
    }
}

.gb-order-item-add-spinner {
    box-sizing: border-box;
    transition: margin 200ms ease;
    margin: -27px auto 7px auto;
    height: 20px;
    width: 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid @gb-white;
    border-radius: 100%;
}

.gb-order-item-saving .gb-order-item-add-spinner {
    margin-top: 0;
    animation: rotation 1s infinite linear;
}

.gb-order-item-error-enter {
    opacity: 0;
    transition: opacity 200ms ease;

    &.gb-order-item-error-enter-active {
        opacity: 1;
    }
}

.gb-order-item-contents {
    padding-top: 22px;

    .gb-order-pane-item-edit-item-option-set {
        padding-top: 22px;

        .item-option-set-name {
            font-weight: 600;
            font-size: 1.06rem;
            display: inline-block;
        }

        .item-option-set-min-max {
            font-style: italic;
            display: inline-block;

            & > span {
                margin-left: 8px;
            }
        }
    }

    .gb-order-pane-item-edit-item-option {
        position: relative;

        &:hover,
        label,
        input {
            cursor: pointer;
        }

        input[type="checkbox"],
        input[type="radio"] {
            position: absolute;
            top: 0;
            left: 0;
        }

        .item-option-details {
            margin-top: 6px;
            margin-left: 25px;
        }

        .item-option-name {
            display: inline-block;
        }

        .item-option-description {
            font-style: italic;
            margin-right: 45px;
        }

        .item-option-price {
            font-style: italic;
            margin-left: 8px;
        }
    }
}

.gb-order-item-notes {
    padding-top: 50px;

    .item-notes-title {
        font-weight: 600;
        font-size: 0.97rem;
    }

    .item-notes-field {
        box-sizing: border-box;
        width: 100%;
        height: 58px;
        resize: none;
        border: 1px solid @gb-shadow-mystic;
        margin-top: 6px;
        border-radius: 2px;
        overflow: scroll;
        padding: 8px 10px;
        outline: 0;
        font-size: 0.95em;
        color: @gb-shadow-mako;
    }
}

.item-notes-field, .item-field-input {
    &:disabled {
        background: lighten(@gb-shadow-athens-gray, 5%);
    }
}

.gb-order-item-fields {
    padding-top: 22px;
    display: inline-block;

    .item-field-group {
        display: inline-block;
        margin-right: 5%;
    }

    .item-field-group:nth-child(1) {
        width: 60%;
    }

    .item-field-group:nth-child(2) {
        width: 30%;
    }

    .item-field-title {
        font-weight: 600;
        font-size: 0.97rem;
        display: inline-block;
    }

    .item-field-optional {
        display: inline-block;
        font-style: italic;
        font-size: 0.95em;
        margin-left: 5px;
    }

    .item-field-min {
        font-style: italic;
        color: @gb-red;
        font-weight: 600;
        margin-left: 5px;
        font-size: 0.95em;
    }

    .item-field-input {
        display: block;
        border: 1px solid @gb-shadow-mystic;
        border-radius: 2px;
        outline: 0;
        font-size: 0.95em;
        color: @gb-shadow-mako;
        padding: 8px 10px;
        box-sizing: border-box;
        width: 100%;
    }
}

.gb-order-item-buttons {
    padding-top: 40px;
    font-size: 1.07em;
    display: inline-block;
    float: right;

    & > div {
        display: inline-block;
    }

    .item-cancel-btn {
        overflow: hidden;
        padding: 6px 16px;
        margin-right: 15px;
        border: 1px solid darken(@gb-shadow-mischka, 5%);
        border-radius: 3px;
        font-weight: 600;
        text-align: center;
        background-color: @gb-white;
        transition: background-color 200ms;

        &:hover {
            cursor: pointer;
            background-color: @gb-shadow-athens-gray;
        }
    }

    .item-add-btn {
        width: 120px;
    }

    .item-save-btn,
    .item-add-btn {
        text-align: center;
        padding: 6px 22px;
        border-radius: 3px;
        background-color: @gb-pink;
        font-weight: 600;
        border: 1px solid darken(@gb-pink, 10%);
        border-bottom: 2px solid darken(@gb-pink, 15%);
        border-top: none;
        transition: background-color 200ms;
        color: @gb-white;

        &:hover {
            cursor: pointer;
            background-color: lighten(@gb-red, 5%);
        }
    }
}

// Setup the "no order" message
.gb-restaurant-menu-item-menu-wrapper {
    position: relative;

    &.show-no-order-message {
        max-height: 410px;
    }

    .gb-restaurant-menu-item-no-order-message {
        box-sizing: border-box;
        position: absolute;
        background: fade( @gb-shadow-athens-gray, 80% );
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;

        .gb-restaurant-menu-item-no-order-message-wrapper {
            flex: 1;
            // For non-flexy browsers, at least add some padding
            padding: 20px 0;
            font-size: 1.1em;
            text-align: center;
        }
    }
}
