.gb-restaurant-menu-item-menu-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 200ms ease-in-out;
}

.gb-restaurant-menu-item-menu {
    padding-top: 20px;
    overflow: hidden;
    position: relative;

    & > * {
        margin-top: 15px;
        margin-bottom: 15px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.gb-restaurant-menu-item-menu-desc {
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.gb-restaurant-menu-item-menu-bottomfields {
    vertical-align: bottom;
}

.gb-restaurant-menu-item-menu-bottom {
    display: inline-block;
    font-size: 15px;
}

.gb-restaurant-menu-item-menu-buttons {
    & > * {
        @media screen and (max-width: @gb-breakpoint-mobile) {
            margin-top: 5px;
            margin-bottom: 5px;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media screen and (min-width: @gb-breakpoint-mobile) {
            margin-left: 5px;
            margin-right: 5px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media screen and (min-width: @gb-breakpoint-mobile) {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.gb-restaurant-menu-item-menu-box {
}

.gb-restaurant-menu-item-menu-box-title {
    font-size: 13px;
    font-weight: 600;
}

.gb-restaurant-menu-item-menu-box-field {
    border-radius: 2px;
    border: 1px solid @gb-shadow-tide;
    box-sizing: border-box;
    font-size: 1em;
    outline: 0;
    padding: 8px 10px;
}

.gb-restaurant-menu-item-menu-quantity {
    .gb-restaurant-menu-item-menu-box;
    display: inline-block;

    .gb-restaurant-menu-item-menu-box-field {
        .gb-restaurant-menu-item-menu-bottom;

        width: 82px;
    }

    @media screen and (max-width: @gb-breakpoint-mobile) {
        margin-bottom: 10px;
    }
}

.gb-restaurant-menu-item-menu-notes {
    .gb-restaurant-menu-item-menu-box;

    .gb-restaurant-menu-item-menu-box-field {
        .gb-restaurant-menu-item-menu-box-field;

        overflow: scroll;
        resize: none;
        width: 100%;
    }
}

.gb-restaurant-menu-item-menu-cancel {
    .gb-button-white;
    .gb-restaurant-menu-item-menu-bottom;

    padding-left: 20px;
    padding-right: 20px;

    @media screen and (max-width: @gb-breakpoint-mobile) {
        width: 100%;
    }
}

.gb-restaurant-menu-item-menu-addtoorder {
    .gb-button-red;
    .gb-restaurant-menu-item-menu-bottom;

    padding-left: 20px;
    padding-right: 20px;

    @media screen and (max-width: @gb-breakpoint-mobile) {
        width: 100%;
    }
}

.gb-restaurant-menu-item-title {
    cursor: pointer;
}
