@import "~diet-tags/index.less";

// Menu Tabs

.gb-restaurant-menu-catering,
.gb-restaurant-menu-individual {
    margin-top: -1px;
}

// Menu Category Titles

.gb-restaurant-menu-category:first-of-type {
    .gb-restaurant-menu-category-title {
        border-top-left-radius: 0;
    }
}

.gb-restaurant-menu-category-title {
    position: relative;
    background: @gb-background;
    border: 1px solid @gb-shadow-mischka;
    border-radius: 4px;
    min-height: 52px;
    height: 100%;
}

.gb-restaurant-menu-category-title-content {
    padding: 10px 13px;
    font-size: 1.53em;
    font-weight: 900;
}

// Menu Items

.gb-restaurant-menu-items {
    box-sizing: border-box;
    display: table;
    width: 100%;
    padding: 17px 0;
    font-size: 0.95em;
}

.gb-restaurant-menu-item {
    padding: 14px 13px;
    position: relative;
    border-radius: 4px;

    &.gb-restaurant-menu-item-open {
        background: @gb-shadow-athens-gray;
    }

    &:not(.gb-restaurant-menu-item-open):hover {
        background: @gb-shadow-athens-gray;
        cursor: pointer;
    }
}

.gb-restaurant-menu-item-heading {
    padding: 14px 13px 0;
    margin: -14px -13px 0;
    cursor: pointer;
}

.gb-restaurant-menu-item-column {
    display: inline-block;
    vertical-align: middle;
}

.gb-restaurant-menu-item-title {
    .gb-restaurant-menu-item-column;
    width: 60%;
    max-width: 420px;

    @media screen and (max-width: @gb-max-mobile-width) {
        width: 40%;
    }
}

.gb-restaurant-menu-item-title-content {
    display: inline-block;
    font-weight: 600;
}

.gb-restaurant-menu-item-quantity {
    .gb-restaurant-menu-item-column;

    font-weight: 500;

    @media screen and (max-width: @gb-max-mobile-width) {
        width: 30%;
    }

    @media screen and (min-width: @gb-max-mobile-width) and (max-width: @gb-max-tablet-width) {
        text-align: center;
        width: 25%;
    }

    @media screen and (min-width: @gb-max-tablet-width) {
        width: 20%;
        max-width: 132px;
    }
}

.gb-restaurant-menu-item-price {
    .gb-restaurant-menu-item-column;

    font-weight: 500;

    @media screen and (max-width: @gb-max-tablet-width) {
        width: 30%;
    }

    @media screen and (min-width: @gb-max-mobile-width) and (max-width: @gb-max-tablet-width) {
        width: 25%;
    }

    @media screen and (min-width: @gb-max-tablet-width) {
        width: 20%;
        max-width: 132px;
    }
}

// Tags
.gb-restaurant-menu-item-tags {
    display: inline-block;
    margin-left: 3px;
}

.gb-restaurant-menu-item-tag {
    #components > .diet-tags( '.', 19px );
    display: inline-block;
    padding: 0 3px;
}

.gb-restaurant-menu-item-popular {
    color: @gb-yellow;
    display: inline-block;
    font-weight: bold;
    padding: 0 3px;
}


// Item descriptions

.gb-restaurant-menu-item-desc {
    margin-top: 20px;

    @media screen and (max-width: @gb-max-tablet-width) {
        display: none;
    }
}

@media screen and (min-width: @gb-max-tablet-width) {
    @transition-duration: 100ms;
    @transition-delay: 500ms;

    .gb-restaurant-menu-item-desc {
        pointer-events: none;
        background: @gb-shadow-mirage;
        border-radius: 4px;
        box-sizing: border-box;
        color: @gb-white;
        max-width: 400px;
        opacity: 0;
        padding: 15px 20px;
        position: absolute;
        top: 25px;
        transition: visibility 0s linear (@transition-duration + @transition-delay),
                    opacity @transition-duration linear;
        visibility: hidden;
        z-index: 5;

        &:before {
            // fffffffuuuuuuuuuuuu
            .gb-arrow-up(10px, @gb-shadow-mirage, -10px, auto, auto, 20px);

            content: ' ';
        }

        .gb-restaurant-menu-item-text {
            font-weight: 600;
        }
    }

    .gb-restaurant-menu-item:not(.gb-restaurant-menu-item-open):hover {
        .gb-restaurant-menu-item-desc {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear,
                        opacity @transition-duration @transition-delay linear;
        }
    }
}
