@import "cover";
@import "tabs/index";
@import "menu/index";
@import "info/index";
@import "reviews/index";
@import "past-orders/index";

.gb-restaurant {
    .gb-body;
}

.gb-restaurant-content {
    box-sizing: border-box;
    position: relative;
    font-weight: 500;
    margin-top: 42px;
    margin-bottom: 42px;

    @media screen and (max-width: @gb-max-mobile-width) {
        padding-left: 4px;
        padding-right: 4px;
    }

    @media screen and (min-width: @gb-max-tablet-width) {
        width: 64%;
    }
}

.gb-restaurant-content-border {
    padding: 26px;

    @media screen and (min-width: @gb-max-mobile-width) {
        border: 1px solid @gb-shadow-mischka;
        border-radius: 4px;
        box-shadow: 1px 1px 1px @gb-box-shadow-1;
    }
}
