.gb-restaurant-info {
    .gb-restaurant-content;

    overflow: hidden;
    font-size: 0.91em;
    line-height: 1.5;
}

.gb-restaurant-info-column {
    @media screen and (min-width: 1180px) {
        width: 50%;
    }
}

.gb-restaurant-info-left {
    .gb-restaurant-info-column;

    @media screen and (min-width: 1180px) {
        float: left;
    }
}

.gb-restaurant-info-right {
    .gb-restaurant-info-column;

    @media screen and (min-width: 1180px) {
        float: right;
    }
}

.gb-restaurant-info-section {
    & + & {
        margin-top: 30px;
    }

    table tr > td:first-of-type {
        padding-right: 20px;
    }
}

.gb-restaurant-info-header {
    font-weight: 600;
    padding-bottom: 2px;
}

// Google map
.gb-restaurant-info-gmap {
    width: 98%;
    height: 320px;
    background: @gb-soft;
    border: 1px solid @gb-subtle;
    border-radius: @gb-border-radius / 2;
}

.gb-restaurant-info-bull {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}
