@gb-foreground: #434a54;
@gb-background: #ffffff;
@gb-white: #ffffff;
@gb-bright: #e6e9ed;
@gb-dark: #383d46;
@gb-darker: #2c3239;
@gb-grey: #7b828d;
@gb-shadow: rgba(0, 0, 0, 0.1);
@gb-bold: #000000;
@gb-soft: #ccd1d9;
@gb-subtle: #aab2bd;
@gb-red: #ed4242;
@gb-blue: #5d9cec;

html {
    -webkit-font-smoothing: antialiased;
    background-color: @gb-background;
    color: @gb-foreground;
    font-family: 'Avenir', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.gb-body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
}
