@gb-foreground: #434a54;
@gb-background: #ffffff;
@gb-white: #ffffff;
@gb-black: #000000;
@gb-text-mako: #434a54;          // (dark blue/gray)
@gb-box-shadow-light-1: rgba(255, 255, 255, 0.1);
@gb-box-shadow-3: rgba(0, 0, 0, 0.3);
@gb-shadow-tide: #b7b6ad;        // (gray/yellow)
@gb-shadow-cadet-blue: #aab2bd;  // (light blue/gray)


// @gb-bright: #e6e9ed;
// @gb-dark: #383d46;
// @gb-darker: #2c3239;
// @gb-shadow: rgba(0, 0, 0, 0.1);
// @gb-shadow-light: #494E55;
// @gb-shadow-dark: #242832;
// @gb-bold: #3B3F47;
// @gb-soft: #ccd1d9;
// @gb-gray: #7B828D;

@gb-red: #ff3333; // web-safe version of #ed4242
@gb-yellow: #F4BB41;
// @gb-pale-yellow: #F9EBCB;
// @gb-blue: #4A89DC;
// @gb-skyblue: #36BAE7;
// @gb-teal: #41CEAB;
// @gb-green: #8CC155;

@gb-breakpoint-mobile: 480px;
@gb-breakpoint-tablet: 769px;
@gb-breakpoint-laptop: 1680px;

html {
    -webkit-font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
    background-color: @gb-background;
    color: @gb-foreground;
    font-family: 'Avenir', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    @media screen and (max-width: @gb-breakpoint-mobile) {
        font-size: 1.05em;
    }
    @media screen and (min-width: @gb-breakpoint-mobile) and (max-width: @gb-breakpoint-tablet) {
        font-size: 0.998em;
    }
    @media screen and (min-width: @gb-breakpoint-tablet) and (max-width: @gb-breakpoint-laptop) {
        font-size: 0.924em;
    }
    &, & a {     // minute font smoothing for smaller screens
        text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    }
}

body {
    margin: 0;
    padding: 0;
}

input, textarea {
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    border-spacing: 0;
}

.gb-body {
    margin-left: auto;
    margin-right: auto;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
    width: 100%;
    @media screen and (max-width: @gb-breakpoint-laptop) {
        max-width: 1108px;
    }
}

// .gb-small-arrow {
//     border-color: transparent;
//     border-style: solid;
//     border-top: 0;
//     border-width: 10px;
//     height: 0;
//     width: 0;
// }
//
// .gb-link {
//     color: @gb-blue;
//
//     &:hover {
//         text-decoration: underline;
//     }
// }
//
// // * TWO-COLUMN LAYOUT STYLES
// //////////////////////////////
// .col {
//     float: left;
//     width: 50%;
// }
//
// .fix-collapse { // keeps parent div from collapsing
//                 // when children are floating
//     overflow: auto;
// }
//
// // * BUTTON STYLES
// ///////////////////
// input[type="button"],
// .btn {
//     display: block;
//     color: @gb-background;
//     font-weight: 600;
//     font-size: 14px;
//     padding: 8px 20px;
// }
//
// .action-btn {
//     background: @gb-red;
//     border: 1px solid darken(@gb-red, 20%);
//     border-top: none;
//     border-bottom: 2px solid darken(@gb-red, 20%);
//     border-radius: @gb-border-radius / 2px;
//
//     &:hover {
//         cursor: pointer;
//         background-color: lighten(@gb-red, 3%);
//     }
// }
//
// .gb-price {
//     display: inline;
// }
//
// .gb-price-fill {
//     display: inline;
// }
//
// .gb-price-empty {
//     display: inline;
//     color: @gb-subtle;
// }
