@import "base";
@import "icons";
@import "container";
@import "helpers/index";
@import "navbar/index";
@import "restaurant/index";
@import "order-pane/index";
@import "modal/index";
@import "../lib/modal/styles/index";

#components > #gb-container > .init(
  @width: @gb-max-tablet-width,
  @horizontal-padding: @gb-tablet-padding
);

#components > #gb-navbar .init(
  @color: @gb-foreground,
  @accent-color: @gb-red,
  @breakpoint: @gb-max-tablet-width,
  @z-index: 10
);

#modal > .init(
    @width: 562px,
    @offset-top: 64px
);
