.gb-order-pane-info {
    .gb-order-pane-section;

    border-top: 1px solid @gb-shadow-light;
    border-bottom: 1px solid @gb-shadow-dark;
}

.gb-order-pane-info-line {
    font-size: 14px;
    font-weight: 500;
    padding: 2px 0;
}

.gb-order-pane-info-location,
.gb-order-pane-info-date,
.gb-order-pane-info-time,
.gb-order-pane-info-guests {
    .gb-order-pane-info-line;

    i[class^="icon-"] {
        color: @gb-gray;
        font-size: 16px;
        margin-right: 10px;
    }
}

.gb-order-pane-info-editbutton {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    right: 25px;
    color: @gb-blue;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
