.gb-order-pane-items {
    font-weight: 500;
}

.gb-order-pane-item {
    margin-bottom: 8px;
}

// Recipient Group

.gb-order-pane-recipient-group {
    margin-bottom: 22px;

    .gb-order-pane-recipient {
        font-weight: 900;
        font-size: 1.05em;
        margin-bottom: 2px;
        text-transform: capitalize;

        .icon-profile {
            margin-right: 6px;
        }
    }
}

.gb-order-pane-extra-items-line {
    padding-top: 22px;
    margin-top: 22px;
    border-top: 1px solid @gb-shadow-mako;
    box-shadow: 0 -1px 0 @gb-shadow-charade;
}

// Table: Item

.gb-order-pane-item-info {
    width: 100%;

    td {
        vertical-align: bottom;
    }
}

.gb-order-pane-item-info-name {
    width: 63%;
}

.gb-order-pane-item-info-quantity {
    width: 12%;
    text-align: right;
}

.gb-order-pane-item-info-price {
    width: 25%;
    text-align: right;
}

.gb-order-pane-item-edit,
.gb-order-pane-item-remove {
    .gb-link;
}

.gb-order-pane-item-edit {
    padding-right: 8px;
}

.gb-order-pane-item-remove {
    padding-left: 8px;
}

// Table: Subtotal

.gb-order-pane-checkout-subtotal {
    width: 100%;
}

.gb-order-pane-checkout-subtotal-price {
    text-align: right;
}

// Checkout

.gb-order-pane-checkout,
.gb-order-pane-checkout-btn {
    margin-top: 34px;
}

.gb-order-pane-checkout-btn {
    .gb-button-red;

    display: block;
    font-size: 1.12em;
    font-weight: 900;
    text-shadow: none;
    width: 98%;
}

.gb-order-pane-item-options {
    font-style: italic;
}
