.gb-order-pane-items {
    .gb-order-pane-section;
    font-weight: 500;
}

.gb-order-pane-item {
    margin-bottom: 8px;
}

// Table: Item

.gb-order-pane-item-info {
    width: 100%;

    td {
        vertical-align: bottom;
    }
}

.gb-order-pane-item-info-name {
    width: 63%;
}

.gb-order-pane-item-info-quantity {
    width: 12%;
    text-align: right;
}

.gb-order-pane-item-info-price {
    width: 25%;
    text-align: right;
}

.gb-order-pane-item-edit,
.gb-order-pane-item-remove {
    .gb-link;
}

.gb-order-pane-item-edit {
    padding-right: 8px;
}

.gb-order-pane-item-remove {
    padding-left: 8px;
}

// Table: Subtotal

.gb-order-pane-checkout-subtotal {
    width: 100%;
}

.gb-order-pane-checkout-subtotal-price {
    text-align: right;
}

// Checkout

.gb-order-pane-checkout,
.gb-order-pane-checkout-btn {
    margin-top: 34px;
}

.gb-order-pane-checkout-btn {
    .gb-button-red;

    display: block;
    font-size: 1.12em;
    font-weight: 900;
    text-shadow: none;
    width: 98%;
}
