.gb-order-pane-share {}

.gb-order-pane-share-icon {
    color: @gb-red;
    font-size: 1.27em;
    position: absolute;
    top: 0;
    left: 0;
}

.gb-order-pane-share-desc {
    font-size: 1.11em;
}

.gb-order-pane-share-box {
    margin-top: 17px;

    i[class^="icon"] {
        .gb-order-pane-share-icon;
    }
}

.gb-order-pane-share-head {
    position: relative;
    margin-bottom: 3px;

    & > span {
        margin-left: 21px;
    }
}

.gb-order-pane-share-linkbox {
    .gb-input-box;

    color: @gb-shadow-mako;
    font-size: 1em;
    font-weight: 500;
    width: 100%;
}

.gb-order-pane-share-email {
    .gb-box;
    border: 1px solid @gb-shadow-athens-gray;
    font-size: 1.11em;
    text-align: center;
}
