.gb-restaurant-tabs-tab-title {
    @media screen and (max-width: 370px) {
        padding: 12px;
    }
}

.gb-restaurant-tab-title {
    position: relative; // for the arrows
    display: inline-block;
    padding: 15px 20px;
    font-size: 14px;
    text-align: center;

    &:hover {
        cursor: pointer;
    }

    &.active {
        color: @gb-bold;
        font-weight: 600;
    }

    @media screen and (max-width: 480px) {
        padding: 10px;
    }
}

.gb-restaurant-tab-arrow-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gb-restaurant-tab-arrow {
    .gb-small-arrow;

    border-bottom-width: 10px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
}

.gb-restaurant-tab-arrow-stroke {
    .gb-restaurant-tab-arrow;

    border-bottom-color: @gb-soft;
    bottom: 0;
}

.gb-restaurant-tab-arrow-fill {
    .gb-restaurant-tab-arrow;

    border-bottom-color: @gb-background;
    bottom: -2px;
}

.gb-restaurant-tab-ncount {
    background: @gb-red;
    border-radius: @gb-border-radius;
    color: @gb-white;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    margin-left: 8px;
    padding: 0 5px;
    text-align: center;
}
