@import "arrow";
@import "popover";

.gb-link {
    color: @gb-blue;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.gb-box {
    display: block;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 7px;

    &:hover {
        cursor: pointer;
    }
}

.gb-input-box {
    .gb-box;
    font-family: 'Avenir', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

    &:hover {
        cursor: text;
    }
}

.gb-button {
    .gb-box;

    align-items: flex-start;
    border-radius: 2px;
    display: inline-block;
    font-size: 0.875em;
    font-weight: 600;
    text-align: center;
}

.gb-button-white {
    .gb-button;

    background: @gb-white;
    border: 1px solid @gb-shadow-tide;
}

.gb-button-red {
    .gb-button;

    text-align: center;
    background-color: @gb-pink;
    border: 1px solid darken(@gb-pink, 10%);
    border-bottom: 2px solid darken(@gb-pink, 10%);
    border-top: none;
    transition: background-color 200ms;
    color: @gb-white;

    &:hover {
        background-color: lighten(@gb-red, 5%);
    }
}

.gb-float(@direction, @width) {
    float: @direction;
    width: @width;
}
