.gb-navbar-logo-large {
    margin-bottom: -9px;
    height: 100%;
    max-height: 58px;
    max-width: 138px;

    @media screen and (max-width: @gb-breakpoint-tablet) {
        display: none;
    }

    @media screen and (min-width: @gb-breakpoint-tablet) {
        display: inline-block;
    }
}

.gb-navbar-logo-small {
    @media screen and (max-width: @gb-breakpoint-tablet) {
        display: table-cell;
    }

    @media screen and (min-width: @gb-breakpoint-tablet) {
        display: none;
    }
}
