.gb-navbar-subbar-city-option {
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;

    &:hover {
        cursor: pointer;
        background-color: @gb-bright;
    }
}

.gb-navbar-subbar-city-option-selected {
    .gb-navbar-subbar-city-option;
    background-color: @gb-bright;
}
