.gb-navbar-subbar-city {
    float: right;
}

.gb-navbar-subbar-city-option {
    display: inline-block;
    padding-left: 36px;
    padding-right: 36px;

    &:hover {
        cursor: pointer;
        color: @gb-red;
    }
}

.gb-navbar-subbar-city-option-selected {
    .gb-navbar-subbar-city-option;
    color: @gb-red;
    position: relative;
    text-decoration: underline;
}
